NET "clk"		LOC = AC18      | IOSTANDARD = LVCMOS18 ;
NET "clk"		TNM_NET = TM_CLK ;

NET "music" 		LOC = P26       | IOSTANDARD = LVCMOS33;
NET "AUD_SD" 		LOC = M25       | IOSTANDARD = LVCMOS33;

NET "Buzzer"		LOC = AF24      | IOSTANDARD = LVCMOS33 ;
NET "B[0]"			LOC = T20      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "B[1]"			LOC = R20      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "B[2]"			LOC = T22      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "B[3]"			LOC = T23      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "G[0]"			LOC = R22      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "G[1]"			LOC = R23      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "G[2]"			LOC = T24      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "G[3]"			LOC = T25      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "R[0]"			LOC = N21      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "R[1]"			LOC = N22      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "R[2]"			LOC = R21      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "R[3]"			LOC = P21      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "HS"				LOC = M22      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
NET "VS"				LOC = M21      | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
#PS2
NET "PS2C"			LOC = N18     	| IOSTANDARD = LVCMOS33 ; 
NET "PS2D"			LOC = M19     	| IOSTANDARD = LVCMOS33 ;

NET "SEGMENT[0]"		LOC = AB22      | IOSTANDARD = LVCMOS33 ;#a
NET "SEGMENT[1]" 		LOC = AD24		 | IOSTANDARD = LVCMOS33 ;#b
NET "SEGMENT[2]" 		LOC = AD23		 | IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[3]" 		LOC = Y21		 | IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[4]" 		LOC = W20		 | IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[5]" 		LOC = AC24		 | IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[6]" 		LOC = AC23		 | IOSTANDARD = LVCMOS33 ;#g
NET "SEGMENT[7]" 		LOC = AA22		 | IOSTANDARD = LVCMOS33 ;#point

NET "AN[0]" 			LOC = AD21      | IOSTANDARD = LVCMOS33 ;
NET "AN[1]" 			LOC = AC21      | IOSTANDARD = LVCMOS33 ;
NET "AN[2]" 			LOC = AB21      | IOSTANDARD = LVCMOS33 ;
NET "AN[3]" 			LOC = AC22      | IOSTANDARD = LVCMOS33 ;

NET "BTN_X[0]"       LOC = V17       | IOSTANDARD = LVCMOS18 | PULLUP;
NET "BTN_X[1]"       LOC = W18       | IOSTANDARD = LVCMOS18 | PULLUP;
NET "BTN_X[2]"       LOC = W19       | IOSTANDARD = LVCMOS18 | PULLUP;
NET "BTN_X[3]"       LOC = W15       | IOSTANDARD = LVCMOS18 | PULLUP;
NET "BTN_X[4]"       LOC = W16       | IOSTANDARD = LVCMOS18 | PULLUP;
NET "BTN_Y[0]"       LOC = V18       | IOSTANDARD = LVCMOS18 | PULLUP;
NET "BTN_Y[1]"       LOC = V19       | IOSTANDARD = LVCMOS18 | PULLUP;
NET "BTN_Y[2]"       LOC = V14       | IOSTANDARD = LVCMOS18 | PULLUP;
NET "BTN_Y[3]"       LOC = W14       | IOSTANDARD = LVCMOS18 | PULLUP;

NET "seg_clk"    LOC=M24     | IOSTANDARD = LVCMOS33 ;
NET "seg_clr_n"  LOC=M20     | IOSTANDARD = LVCMOS33 ;
NET "seg_do"     LOC=L24     | IOSTANDARD = LVCMOS33 ;
NET "seg_pen"    LOC=R18     | IOSTANDARD = LVCMOS33 ;

NET "SW[0]"         LOC = AA10  | IOSTANDARD = LVCMOS18 ;
NET "SW[1]"         LOC = AB10  | IOSTANDARD = LVCMOS18 ;
NET "SW[2]"         LOC = AA13  | IOSTANDARD = LVCMOS18 ;
NET "SW[3]"         LOC = Y13   | IOSTANDARD = LVCMOS18 ;

NET "LED_CLK"                                  LOC = N26       | IOSTANDARD = LVCMOS33 ;
    NET "LED_CLR"                                  LOC = N24       | IOSTANDARD = LVCMOS33 ;
    NET "LED_DO"                                   LOC = M26       | IOSTANDARD = LVCMOS33 ;     
    NET "LED_PEN"                                  LOC = P18       | IOSTANDARD = LVCMOS33 ;   

